<script type="text/javascript" src="{{ page.prefixo }}assets/js/jquery.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/util.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/carousel.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script1.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script2.js"></script>

<script type="text/javascript" src="{{ page.prefixo }}assets/js/script3.js"></script>