<div id="content-0" class="w-100 content">

	<h2 class="font-weight-bold text-success">Welcome on my new Website</h2>
	<div class="bg-secondary w-hr w-25 my-3"></div>

	<h5 class="line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a sodales justo, sed faucibus eros. Mauris id consequat ipsum. Etiam ultrices viverra magna in fringilla. Proin feugiat vehicula risus quis tristique. Donec pharetra, justo eu convallis rhoncus, velit massa laoreet leo, et porttitor erat erat eu sapien. Mauris malesuada fringilla finibus. Quisque ut mauris finibus sapien finibus malesuada vel eget leo. Suspendisse pellentesque neque sit amet risus varius suscipit. Cras feugiat neque at tristique pulvinar. Nam iaculis purus at lacinia efficitur.</h5>
	
</div>



