<div id="content-2" class="w-100 content">

	<div class="row w-100 justify-content-center h-100 bricks">
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b1">
				<h1>1</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b2">
				<h1>2</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b3">
				<h1>3</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b4">
				<h1>4</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b5">
				<h1>5</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b6">
				<h1>6</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b7">
				<h1>7</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b8">
				<h1>8</h1>
			</div>
		</div>
		<div class="col-lg-4 p-1">
			<div class="p-5 bg-success b9">
				<h1>9</h1>
			</div>
		</div>	
	</div>
</div>